<header class="header">
  <div class="container">
    <div class="wrap">
      <a class="logo__link" href="#" data-home>
        <svg class="logo__svg">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item nav__item--margin">
            <a class="nav__link" href="#" data-home>Home</a>
          </li>
          <li class="nav__item"><a class="nav__link" href="#" data-library>my library</a></li>
        </ul>
      </nav>
    </div>
    <form class="form">
      <label class="form__label">
        <input type="text" name="name" class="form__input" placeholder="Поиск фильмов" />
      </label>
      <button class="form__btn" type="submit"></button>
    </form>

    <div class="library hidden">
      <button class="library__btn active" type="button" data-watched>Watched</button>
      <button class="library__btn library__btn--margin" type="button" data-queue>queue</button>
    </div>
  </div>
</header>
