<header class="header-main">
  <div class="container">
    <div class="wrap">
      <a class="logo__link" href="#">
        <svg class="logo__svg">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item nav__item--margin"><a class="nav__link" href="#">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="#">my library</a></li>
        </ul>
      </nav>
    </div>
    <form class="form">
      <label class="form__label">
        <input type="text" name="name" class="form__input" placeholder="Поиск фильмов" />
      </label>
      <button class="form__btn" type="submit"></button>
    </form>
  </div>
</header>
