<footer class="footer">
    <div class="footer__section">
        <div class="footer__section-text">
            <span>© 2022 | All Rights Reserved |</span>
            <span class="footer__section-span">
                Developed with
                <svg class="heart-icon animate__heartBeat">
                    <use href=./images/icons.svg#footer-svg></use>
                </svg>
                by
                <a class="footer__link" id="openModalLink" href="#">GoIT Students</a>
            </span>
        </div>
    </div>
</footer>