.header {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 92px;
  background-image:linear-gradient(
    to right,
    $background,
    $background
   ),
  url('../images/bg-header-main-tablet.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 216px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image:linear-gradient(
      to right,
      $background,
      $background
     ),
      url('../images/bg-header-main-tablet@2x.jpg');
  }

  @media (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media (min-width: 1024px) {
    // max-width: 1024px;
    background-image:linear-gradient(
      to right,
      $background,
      $background
     ),
      url('../images/bg-header-main-desctop.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image:linear-gradient(
        to right,
        $background,
        $background
       ),
        url('../images/bg-header-main-desctop@2x.jpg');
    }
  }
}

.header-library {
  background-image:linear-gradient(
    to right,
    $background,
    $background
   ), url('../images/bg-header-library.jpg');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image:linear-gradient(
      to right,
      $background,
      $background
     ), url('../images/bg-header-library@2x.jpg');
  }
}

.wrap {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 54px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 41px;
  }
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logo__text {
  display: none;

  @media (min-width: 768px) {
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: $color-white;
  }
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 40px;
}

.nav__item--margin {
  margin-left: 0;
}

.nav__link {
  position: relative;
  align-content: center;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;
  color: $color-white;
  background-color: transparent;
  padding-bottom: 0.23px;
  border: none;

  &.current::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2.86px;
    border-radius: 0px;
    background-color: $bg-active;
    opacity: 1;
  
    transform: translateY(1px);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
}

.form {
  position: relative;
  z-index: 5;

  @media (min-width: 768px) {
    width: 336px;
    margin: 0 auto;
  }
}

.form__label {
  width: 100%;
}

.form__input {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  padding: 4px;
  border: none;
  background-color: transparent;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  color: $color-white;
  outline: none;
}

.form__input::placeholder {
  color: $color-white;
}

.form__btn {
  position: absolute;
  top: 5px;
  right: 0;
  width: 12px;
  height: 12px;
  border: none;
  background-color: transparent;
  background-image: url('../images/icons.svg#search');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.library {
  width: 281px;
  position: relative;
  z-index: 5;
  margin: 0 auto;
}

.library__btn {
  width: 129px;
  text-transform: uppercase;
  color: $color-white;
  padding: 14px 36px 12px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid $color-white;
  margin-right: 20px;
  cursor: pointer;
}

.library__btn--margin {
  margin-right: 0;
}

.library__btn.active {
  background-color: $bg-active;
  border: 1px solid transparent;
}

body.dark {
	background: $bodyDark;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: $color-white;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 16px;
	width: 30px;
	transform: scale(1.5);
}

.labelDark {
  background-color: $bg-active;
}

.ball {
	background-color: $color-black;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 12px;
	width: 12px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(14px);
}

.ballDark {
  right: 2px;
  transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ballDark {
	transform: translateX(-14px);
}
